
<div>
    <div class="container-fluid pl-5 fix-padding">
    
    <div class="row">
        <div class="col">
            <div class="pl-4">

                <div class="row mt-4">
                   

                    <div *ngFor="let post of allPosts" class="col-md-6 col-sm-6 col-lg-4 mb-4">
                        <div class="card-body bg-white r-border">


                            <div class="row">
                                <div class="col">
                                    <h6 class="text-dark px-1">{{post.username}}</h6>
                                </div>
                                <div class="col">
                                    <span class="d-flex justify-content-end">
                                        <a type="button" id="dropdown-menu" data-toggle="#dropdown-menu"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-primary" id="dropdown-menu">
                                            <a class="dropdown-item"><i class="fab fa-apple-pay"></i>Pay</a>
                                            <a class="dropdown-item"><i class="fas fa-bell-slash"></i>Disable
                                                alertss</a>
                                            <a class="dropdown-item"><i class="far fa-envelope"></i>Check mail</a>
                                        </div>
                                    </span>

                                </div>
                            </div>
                            <p class="text-muted px-1">{{post.mylocation}}</p>
                            
                                <img class="card-img-top" [src]="post.imgpath" alt="not found" />

                                <div class="d-flex justify-content-between">

                                <ul class="nav">
                                    <li class="space-between">
                                        <a><span class="fa fa-heart p-2"></span></a>
                                    </li>
                                    <li class="space-between">
                                        <a><span class="fa fa-comment-dots p-2"></span></a>
                                    </li>
                                    <li class="space-between">
                                        <a><span class="fa fa-paper-plane p-2"></span></a>
                                    </li>

                                    <li class="space-between">
                                        <a><span class="fa fa-bookmark p-2"></span></a>
                                    </li>
                                </ul>

                            </div>
                            <p class="text-dark mb-1 px-2 txt-cl">
                                {{post.caption}}
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>





    <!-- SIDE BAR PROFILE INFO -->
        <div class="col col-3 hide-content">
            <div class="position-fixed">
                <div class="profile-bg p-4">
                    <div class="center-p">
                        <img class="circle" src="../../../assets/img/houcine-ncib.jpg" alt="">
                        <h2 class="text-dark">{{ userInfo.username }}</h2>
                        <h5 class="text-dark desc-text">fine art photography</h5>
                        <button class="btn btn-edit" (click)="logUserOut()">logout</button>
                    </div>

                    <div class="d-flex justify-content-between mt-2">
                        <div class="d-flex flex-column">
                            <h6 class="text-dark center-p">22</h6>
                            <p class="text-dark center-p">posts</p>
                        </div>
                        <div class="d-flex flex-column">
                            <h6 class="text-dark center-p">2.2k</h6>
                            <p class="text-dark center-p">followers</p>
                        </div>
                        <div class="d-flex flex-column">
                            <h6 class="text-dark center-p">100</h6>
                            <p class="text-dark center-p">following</p>
                        </div>
                    </div>

                    <h4 class="mt-2 text-dark">{{ userInfo.firstName }} {{ userInfo.lastName }}</h4>
                    <p class="text-dark status-text">I am a young creative mind specialized in Software Product Design
                        and
                        Photography.</p>

                    <!-- Button trigger modal -->
                    <button class="btn post-btn " data-toggle="modal" data-target="#createNewPost">Create Post</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createNewPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="postForm" class="row g-3" (ngSubmit)="onCreatePost()" enctype="multipart/form-data" >
                        <div class="col-12 m-1">
                            <label class="file-btn" for="actual-btn">Choose Image</label>
                            <input type="file" formControlName="uploadedImage" name="uploadedImage" id="actual-btn" multiple (change)="selectImage($event)" />
                        </div>
                        <div class="col-12 m-1">
                          <input type="text" formControlName="location" name="location" class="form-control" placeholder="Location">
                        </div>
                        <div class="col-12 m-1">
                            <textarea formControlName="caption" class="form-control" name="caption"  placeholder="Caption..."></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                      </form>
                </div>
            </div>
            
        </div>
    </div>
</div>




</div>