<div class="container-fluid bg-custom">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-md-3">
            
            <div class="card-deck mt-2 mb-2">
                <div class="card bg-light">
                    <div class="card-body">
                        <h6 class="text-dark px-2 mt-2">Name</h6>
                        <p class="text-muted px-2">Location</p>
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1573843981267-be1999ff37cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bWFsZGl2ZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
                        <div class="d-flex justify-content-between">

                            <ul class="nav">
                                <li class="space-between">
                                    <a><span class="fa fa-heart p-2"></span></a>
                                </li>
                                <li class="space-between">
                                    <a><span class="fa fa-comment-dots p-2"></span></a>
                                </li>
                                <li class="space-between">
                                    <a><span class="fa fa-paper-plane p-2"></span></a>
                                </li>

                                <li class="space-between">
                                    <a><span class="fa fa-bookmark p-2"></span></a>
                                </li>
                            </ul>

                        </div>
                        <p class="text-dark mb-2 p-2 txt-cl">I miss being in the Maldives and never knowing what day of the week it is</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>