<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand mx-5">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 mx-auto">
        <div class="input-group">
            <input class="form-control py-2 custom-input" type="search" placeholder="search" id="example-search-input">
            <span class="input-group-append">
              <button class="btn btn-outline-secondary custom-btn" type="button">
                  <i class="fa fa-search"></i>
              </button>
            </span>
        </div>
      </form>
      <a><i class="fa fa-bell"></i></a>
    </div>
  </nav>

  <!-- <div class="container-fluid bg-light mt-5">
    <app-home></app-home>
  </div> -->




<div class="wrapper d-flex align-items-stretch side-nav">
    <nav id="sidebar" class="d-flex align-items-center">
        <ul class="list-unstyled components m-4">
            <li class="space-between">
                <a ><span class="fa fa-home"></span></a>
            </li>
            <li class="space-between">
                <a ><span class="fa fa-comments"></span></a>
            </li>
            <li class="space-between">
                <a ><span class="fa fa-heart"></span></a>
            </li>
            <li class="space-between">
                <a ><span class="fa fa-user"></span></a>
            </li>
        </ul>
    </nav>
</div>

<div class="top-menu b-borber">
    <ul class="nav justify-content-center">
        <li class="padding-between">
            <a ><span class="fa fa-home"></span></a>
        </li> 
        <li class="padding-between">
            <a ><span class="fa fa-plus " data-toggle="modal" data-target="#exampleModal"></span></a>
        </li>
        <li class="padding-between">
            <a ><span class="fa fa-comments"></span></a>
        </li>
        <li class="padding-between">
            <a ><span class="fa fa-heart"></span></a>
        </li>
        <li class="padding-between">
            <a ><span class="fa fa-user"></span></a>
        </li>

    </ul>
</div>

<div class="container-fluid bg-light mt-5">
    <app-home></app-home>
  </div>
