
<!-- <div class="circle mx-auto" ></div> -->

<div class="container  p-3" style="background-color: #F0F4FB;">
    <section>
        <main class="row">
            <div class="col-sm-6 col-md-4">
                <div class="rounded-image">
                    <img src="../../../assets/images/faranani.jpeg" alt="image not found">
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="d-flex justify-content-between">
                    <h4>Faranani</h4>
                    <h6 class="bg-dark text-center p-1 text-white">Profile</h6>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <div class="text-center">22</div>
                        <div class="text-center">Posts</div>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="text-center">2.2K</div>
                        <div class="text-center">Followers</div>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="text-center">100</div>
                        <div class="text-center">Followings</div>
                    </div>
                </div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi dolorem error debitis pariatur delectus a adipisci ex animi accusamus inventore?
                </div>
            </div>
        </main>
    </section>

</div>
