<div id="login-wrapper">
    <div class="card">
        <h4 class="text-center p-2">sign in</h4>
         <form>
             <div class="form-group input-group">
                 <div class="input-group-addon">
                    <i class="fas fa-envelope"></i>
                 </div>
                 <input type="email" placeholder="email" class="form-control" name="email" autocomplete="off">
             </div>

            <div class="form-group input-group">
                <div class="input-group-addon">
                    <i class="fas fa-lock"></i>
                </div>
                <input type="password" placeholder="password" class="form-control" name="password" autocomplete="off">
            </div>

            <button type="submit" class="btn btn-md btn-block text-white signin-btn">sign in</button>

         </form>
         <p class="text-center mt-4">Don't have an account? <button class="btn btn-link text-dark font-weight-bold" (click)="toSignUp()">Sign up for free</button></p>
    </div>
</div>

<router-outlet></router-outlet>